<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @account.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @account.initial_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
